<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Bayards_Android.Bayards_Android" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="17" />
	<application android:label="Bayards_Android" android:theme="@android:style/Theme.DeviceDefault.Light"></application>
</manifest>